/* Font */
@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.woff) format('woff');
    src: url(../fonts/BebasNeue-Regular.woff2) format('woff2');
}


/* Style Utama */
body {
    font: 18px/36px 'BebasNeue', 'Arial Narrow', arial, sans-serif;
    background-color: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 2px 2px 2px whitesmoke;
}

.container {
    width: 600px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 4px;
}

.pembatas {
    width: 580px;
    padding: 25px 25px 0 25px;
    margin: auto;

}
.gallery li {
    display: inline-block;
    width: 160px;
    height: 160px;
    /*overflow: hidden;*/
    border: 5px solid #666;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.gallery li,
.gallery li span,
.gallery li img {
border-radius: 50%;    
}

.gallery li span {
    display: block;
    width: 160px;
    height: 160px;
    background-color: rgba(200, 200, 200, .6);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 160px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .4s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

/*  overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    z-index: 999;
    opacity: 0;
    transition: .4s;
    text-align: center;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.gallery .overlay img {
    max-height: 80%;
    border-radius: 0;
    margin-top: 45px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .8);
}

.overlay:target img {
    animation: fade 1s;
}

.overlay .close {
    position: absolute;
    top: 13px;
    left: 47%;
    text-align: center;
    background-color:black;
    color: white;
    line-height: 15px;
    padding: 5px;
    border: white 1px solid;
    border-radius: 3px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .3s forwards;
}


.overlay:target .prev,
.overlay:target .next {
    animation:fade .5s .3s forwards;
}

/*navigasi*/
.next {
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url(../img/next.png);
    background-size: cover;
    text-indent: -9999px;
    top: 43%;
    margin-left: 15px;
    opacity: 0;
}

.prev {
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url(../img/prev.png);
    background-size: cover;
    text-indent: -9999px;
    top: 43%;
    margin-left: -70px;
    opacity: 0;
}







/* animasi */
@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
